<?xml version="1.0"?>

<robot name="qbotix_rover">

  <!-- Temporary rover body -->
  <link name="base_link"/>

  <!-- Livox Mid-360 -->
  <link name="lidar_link"/>

  <joint name="lidar_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="lidar_link"/>

    <origin
      xyz="0 0 0.30"
      rpy="0 0 0"/>

  </joint>

  <!-- IMU -->
  <link name="imu_link"/>

  <joint name="imu_joint"
         type="fixed">

    <parent link="base_link"/>
    <child link="imu_link"/>

    <origin
      xyz="0 0 0.30"
      rpy="0 0 0"/>

  </joint>

</robot>
